{% extends '_layout.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block body %}
<div class="container">
  <div class="container mt-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <h2>Edit Profile</h2>
  <form method="post" action="/users/profile/edit">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required> <!--should user be changed to users?-->
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
    </div>
    
    <button type="submit" class="btn btn-success">Save Changes</button>
  </form>
</div>
{% endblock %}