{% extends '_layout.html' %} 

{% block title %} New Post {% endblock %}

{% block body %}

{% block extra_css %}
<style>
    canvas {        
        display: block;
        border: 5px solid black;
        border: 5px solid black;
        max-width: 512px; 
    }

    #canvasControls {
        width: 16rem;
    }

    #ln_clr, #ln_thk {
        width: 6rem;
    }

    #canvasControls > * {
        margin: 0.25rem 0.5rem;
    }
</style>
{% endblock %}

<script src="../static/js/new_post.js"></script>

<div class="d-flex flex-column justify-content-center">

    <body>
        <div class="container">
          <div class="text-container-h">
            <div class="content-container">
              <div class="text-container">
                <h1>CREATE THE FRUITS OF YOUR DREAMS!</h1>
              </div>
            </div>
          </div>
        </div>

    <div id="canvasArea" class="d-flex flex-column align-content-center">
        <canvas class="" id="c" width="512" height="512"></canvas>

        <div id="canvasControls" class="d-flex flex-column justify-content-center">

            <label for="ln_thk">LINE THICKNESS:</label>
            <input type="range" id="ln_thk" min="1" max="20" value="10">

            <label class="form-check-label" for="eraseToggle">ERASE</label>
            <input class="form-check-input" type="checkbox" role="switch" id="eraseToggle">

            <button id="ln_clr" class="btn btn-danger">CLEAR</button>
        </div>
    </div>

    <div class="mt-2 form-group">
        <label for="title">TITLE</label>
        <textarea class="form-control" id="title" name="title" rows="2" placeholder="ENTER A TITLE"></textarea>
    </div>

    <div class="mt-2 form-group">
        <label for="description">DESCRIPTION</label>
        <textarea class="form-control" id="description" name="description" rows="5" placeholder="ENTER A DESCRIPTION"></textarea>
    </div>

    <div class="mt-2 text-center">
        <button type="button" class="btn btn-success" id="save">POST</button>
        <a href="/" class="btn btn-danger">CANCEL</a>
    </div>
</div>

{% endblock %}