{% extends '_layout.html' %} 

{% block title %} New Post {% endblock %}

{% block body %}

<style>
    #caption, #title{ 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
    text-align: center;
    }
</style>

<h1>NEW POST</h1>

<div class="new-post-container">
    <textarea id = "title" name = "title" rows = "2" cols = "133">Title</textarea>
    <br>
    <textarea id = "caption" name ="caption" rows = "15" cols = "133">Caption (optional)</textarea>
    <div class = "text-center">
        <br>
        <button type="button" class="btn btn-success">POST</button>    
        <a href = "/" class="btn btn-danger">CANCEL</a>
    </div>
</div>

{% endblock %}