{% extends '_layout.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="container">
  <div class="container mt-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>


  <body>
    <div class="container">
      <div class="text-container-h">
        <div class="content-container">
          <div class="text-container">
            <h1>THE HOTTEST & SWEETEST POSTS!</h1>
          </div>
        </div>
      </div>
    </div>
  <p>TOP FRUITS</p>
 
</div>
{% endblock %}